{erl_opts, [debug_info]}.
{deps, [
        {hackney, {git, "https://github.com/benoitc/hackney", {tag, "1.6.1"}}},
        {eutil, {git, "https://github.com/dcy/eutil", {branch, "master"}}}
       ]}.

{relx, [{release, {xiaomi_push, "0.0.1"},
         [xiaomi_push]},
        {dev_mode, true},
        {include_erts, false},
        {sys_config, "config/sys.config"},
        {extended_start_script, true}
       ]}.
